*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

main{
    margin:10% 20%;
    height: 70vh;
}

main .cal-container{
    background-color: beige;
    border:5px solid pink;
    text-align: center;
}

main .cal-buttons{
    margin:5% 10%;
}

main input{
    padding:3%;
    width: 70%;
}

main .input-number{
    text-align: right;
}

main .button-container{
    margin-top:10%;
    width:100%;
    height: 100%;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

main .buttons{
    border:1px solid black;
    width:80px;
    height:80px;
}
